.banner .nav {
  @apply list-none flex;

  @screen md {
    @apply flex-wrap;
  }
}

.menu-primary-container {
  @apply px-8 py-4 overflow-x-scroll;

  @screen md {
    @apply overflow-hidden;
  }
}

#menu-social {
  @apply flex mr-4;

  .social_navigation-icon {
    @apply w-6;
  }

  .menu-item {
    @apply float-right ml-2;
  }
}

#menu-primary {
  @apply flex justify-center px-40 py-4;

  @screen md {
    @apply p-0;
  }

  a {
    @apply text-gray-800 font-light px-3 py-1 mx-1 rounded-full;

    &:hover {
      @apply bg-gray-300;
    }
  }

  li.current_page_item a {
    @apply bg-indigo-500 text-indigo-100 font-light;

    &:hover {
      @apply bg-indigo-500;
    }
  }

  .sub-menu {
    @apply bg-white pb-2 py-2;

    border-radius: 1.25rem;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
  }

  li:hover > ul,
  li:focus-within > ul,
  li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  li ul li {
    clear: both;
    width: 100%;
  }
}
